/* CSS Layouting adalah pengaturan tata letak menggunakan CSS */
/* 
Belajar:
1. display
2. dimensi
3. overflow
4. box model
5. float
6. position
 */

/*
cheat :

div -> display: block;

span -> display: inline;
*/
.navigasi li {
  display: inline;
}
