/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* style */
body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
    line-height: 28px;
}

.container {
    width: 100%;
    margin: auto;
    background-color: #eaeaea;
}

.header {
    width: 100%;
    height: 80px;
    background-color: #27292b;
    display: inline-block;
}

.header .logo img {
    width: 40px;
    height: 40px;
    margin-top: 18px;
    margin-left: 400px;
}

.header .features {
    margin-top: -45px;
    margin-left: 1200px;
}

.header .features li {
    display: inline-block;
    text-decoration: none;
    color: white;
}

.header .features li a {
    text-decoration: none;
    font-size: 20px;
    color: lavender;
    margin-right: 25px;
}

.main-content {
    width: 860px;
    margin: auto;
    margin-bottom: 35px;
}

.main-content h1 {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 40px;
}

.main-content p {
    text-align: justify;
    line-height: 30px;
}

.footer {
    width: 100%;
    height: 40px;
    background-color: #27292b;
    margin: auto;
    padding: 20px;
}

.footer p {
    text-align: center;
    color: white;
}

.footer p a {
    text-decoration: none;
    color: white;
}